@use "variables" as v;

.embajadas_main {
  padding: 20px;
  margin: 0 auto;
  h2{
    text-align: center;
    color: v.$color-secundario;
    margin-bottom: 20px;
  }
  h3{
    color: v.$color-principal;
    margin-bottom: 10px;
  }
  .embajadas_mapa {
    text-align: center;
    margin-top: 20px;
    p {
      margin-bottom: 10px;
      font-weight: bold;
    }
    iframe {
      width: 80%;
      height: 500px;
      border: 1px solid v.$color-principal;
      border-radius: 5px;
    }
  }
}

@include v.tablet{
  .embajadas_main {
    padding: 15px;
    .p1{
      font-size: 2vw;
    }
    h2{
      font-size: 4.5vw;
    }
    h3{
      font-size: 3vw;
    }
    .embajadas_mapa {
      iframe {
        width: 100%;
        height: 400px;
      }
    }
  }
}

@include v.mobile{
  .embajadas_main {
    padding: 10px;
    .p1{
      font-size: 3vw;
    }
    h2{
      font-size: 5vw;
    }
    h3{
      font-size: 3.5vw;
    }
    .embajadas_mapa {
      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }
}