@use "variables" as v;

footer{
  @include v.display (grid, center, space-around);
  padding: 10px;  
  grid-area:f;
  grid-template-areas: 
  "lg copy cp rs";
  background-color: v.$bg-color;
  .cp{
    grid-area: cp; 
    text-align: center;
    font-size: 1.5vw;
  }  
  .copy{
    grid-area: copy;
    @include v.display (flex, center, center);
    text-align: center;
    font-size: 1.5vw;
  }
  .rs{
    @include v.display (flex, center, center);
    flex-direction: row;
    grid-area: rs;
    gap: 10px;;
    list-style-type: none; 
  }
  img#logodlmfooter{
    @include v.display (flex, center, center);
    grid-area: lg;
    width: 4vw;
  }
  .rs_img{
    width: 3vw;
  }
}

@include v.tablet{
  footer{
    gap: 1.5vw;
    .cp{
      font-size: 2.7vw;
    }  
    .copy{
      font-size: 2.7vw;
    }
    img#logodlmfooter{
      width: 9vw;
    }
    .rs_img{
      width: 5vw;
    }
  }
}

@include v.mobile{
  footer{
    gap: 3vw;
    grid-template-areas: 
    "lg"
    "cp"
    "copy"
    "rs";
    justify-content: space-evenly;
    align-items: center;
    .cp{
      font-size: 4vw;
    }  
    .copy{
      font-size: 4vw;
    }
    img#logodlmfooter{
      display: none;

    }
    .rs_img{
      width: 7vw;
      justify-content: space-around;
    }
  }
}