@use "variables" as v;

nav{
  @include v.display (flex, center, space-around);
  padding: 10px;
  grid-area: h;
  background-color: v.$bg-color;
  
  .logonav{
    width: 7vw;
    grid-area: logo;
  }
  .titulo_nav{
    color: black;
    grid-area: h1;
  
  }
  .links{
    grid-area: link;
  }
  a{
    text-decoration: none;
    color: v.$color-principal;
  }a:hover{
    text-decoration: underline;
  }
  .ul-offcanvas{
    @include v.display (flex, center, center);
    flex-direction: column;
    list-style: none;
  }
  .boton-ofcanvas{
    width: 2.5vw;
}
}

@include v.tablet{
  nav{
    .logonav{
      width: 10vw;
    }
    .titulo_nav{
      font-size: 5vw;
    }
    .boton-ofcanvas{
      width: 4vw;
    }
  }
}

@include v.mobile{
  nav{
    flex-direction: row;
    gap: 2vw;
    .logonav{
      width: 15vw;
    }
    .titulo_nav{
      font-size: 6vw;
    }
    .boton-ofcanvas{
      width: 6vw;
    }
  }
}


