$color-principal: #2d5380;
$color-secundario: #037a40;
$bg-color: #cddfe9;
@mixin display ($display, $allign, $justify,){
  display: $display;
  align-items: $allign;
  justify-content: $justify;
}

@mixin mobile{
    @media (min-width: 320px) and (max-width: 430px){
        @content;
    }
}

@mixin tablet{
    @media (min-width: 431px) and (max-width: 968px){
        @content;
    }
}
