//sass --watch style.scss style.css
@use "variables";
@use "contactanos";
@use "nO";
@use "header";
@use "footer";
@use "embajadas";
@use "home";
@use "nos";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  font-family: "nunito", sans-serif;
  box-sizing: border-box;
  
}
body {
  display: grid;
  grid-template-areas: 
    "h"
    "m"
    "f";
  min-height: 100vh;
}
.imagenes{
  height: 35vw;
}
