//sass --watch style.scss style.css
@use "variables";
@use "contactanos";
@use "nH";
@use "nO";
@use "header";
@use "footer";
*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}
body {
  display: grid;
  grid-template-areas: 
    "h"
    "m"
    "f";
  min-height: 100vh;
}
.imagenes{
  height: 35vw;
}
