@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.contactanos_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactanos_main .contactanos-form {
  display: grid;
  grid-template-areas: "h1" "label-nombre" "input-nombre" "label-email" "input-email" "submit";
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #2d5380;
  background-color: #cddfe9;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 430px) {
  iframe {
    width: 90%;
    height: auto;
    margin: 10px 0;
  }
  .contactanos_main {
    flex-direction: column;
  }
  .contactanos-form {
    padding: 10px;
    max-width: 90%;
  }
}
@media (min-width: 431px) and (max-width: 968px) {
  iframe {
    width: 90%;
    margin: 10px 0;
  }
  .contactanos_main {
    flex-direction: column;
  }
  .contactanos_main .contactanos-form {
    padding: 15px;
    max-width: 70%;
  }
}
.main_no {
  display: grid;
  grid-template-areas: "h2 h2 h2" "c1 c2 c3";
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem 0;
}
.main_no .titulo_nuestros_objetivos {
  grid-area: h2;
  text-align: center;
  color: #2d5380;
  font-weight: bold;
}
.main_no .c1 {
  grid-area: c1;
}
.main_no .c2 {
  grid-area: c2;
}
.main_no .c3 {
  grid-area: c3;
}
.main_no .card-text {
  color: #037a40;
}
.main_no .card-title {
  color: #2d5380;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  grid-area: h;
  background-color: #cddfe9;
}
nav .logonav {
  width: 7vw;
  grid-area: logo;
}
nav .titulo_nav {
  color: black;
  grid-area: h1;
  font-weight: bold;
}
nav .links {
  grid-area: link;
}
nav a {
  text-decoration: none;
  color: #2d5380;
}
nav a:hover {
  text-decoration: underline;
}
nav .ul-offcanvas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
nav .boton-ofcanvas {
  width: 2.5vw;
}

@media (min-width: 431px) and (max-width: 968px) {
  nav .logonav {
    width: 10vw;
  }
  nav .titulo_nav {
    font-size: 5vw;
  }
  nav .boton-ofcanvas {
    width: 4vw;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  nav {
    flex-direction: row;
    gap: 2vw;
  }
  nav .logonav {
    width: 15vw;
  }
  nav .titulo_nav {
    font-size: 6.5vw;
  }
  nav .boton-ofcanvas {
    width: 6vw;
  }
}
footer {
  display: grid;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  grid-area: f;
  grid-template-areas: "lg copy cp rs";
  background-color: #cddfe9;
}
footer .cp {
  grid-area: cp;
  text-align: center;
  font-size: 1.5vw;
}
footer .copy {
  grid-area: copy;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5vw;
}
footer .rs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  grid-area: rs;
  gap: 10px;
  list-style-type: none;
}
footer img#logodlmfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: lg;
  width: 4vw;
}
footer .rs_img {
  width: 3vw;
}

@media (min-width: 431px) and (max-width: 968px) {
  footer {
    gap: 1.5vw;
  }
  footer .cp {
    font-size: 2.7vw;
  }
  footer .copy {
    font-size: 2.7vw;
  }
  footer img#logodlmfooter {
    width: 9vw;
  }
  footer .rs_img {
    width: 5vw;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  footer {
    gap: 3vw;
    grid-template-areas: "lg" "cp" "copy" "rs";
    justify-content: space-evenly;
    align-items: center;
  }
  footer .cp {
    font-size: 4vw;
  }
  footer .copy {
    font-size: 4vw;
  }
  footer img#logodlmfooter {
    display: none;
  }
  footer .rs_img {
    width: 7vw;
    justify-content: space-around;
  }
}
.embajadas_main {
  padding: 20px;
  margin: 0 auto;
}
.embajadas_main h2 {
  text-align: center;
  color: #2d5380;
  margin-bottom: 20px;
  font-weight: bold;
}
.embajadas_main h3 {
  color: #2d5380;
  margin-bottom: 10px;
}
.embajadas_main .embajadas_mapa {
  text-align: center;
  margin-top: 20px;
}
.embajadas_main .embajadas_mapa p {
  margin-bottom: 10px;
  font-weight: bold;
}
.embajadas_main .embajadas_mapa iframe {
  width: 80%;
  height: 500px;
  border: 1px solid #2d5380;
  border-radius: 5px;
}

@media (min-width: 431px) and (max-width: 968px) {
  .embajadas_main {
    padding: 15px;
  }
  .embajadas_main .p1 {
    font-size: 2vw;
  }
  .embajadas_main h2 {
    font-size: 4.5vw;
  }
  .embajadas_main h3 {
    font-size: 3vw;
  }
  .embajadas_main .embajadas_mapa iframe {
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .embajadas_main {
    padding: 10px;
  }
  .embajadas_main .p1 {
    font-size: 3vw;
  }
  .embajadas_main h2 {
    font-size: 5vw;
  }
  .embajadas_main h3 {
    font-size: 3.5vw;
  }
  .embajadas_main .embajadas_mapa iframe {
    width: 100%;
    height: 300px;
  }
}
.main_home {
  padding: 20px;
  text-align: center;
}
.main_home h2 {
  color: #2d5380;
  margin-bottom: 15px;
}
.main_home p {
  color: #037a40;
  font-size: 1.2rem;
}

.container-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: "h2 h2" "p1 img1" "img2 p2" "p3 img3";
  justify-content: center;
  align-items: center;
}
.container-fluid .h2 {
  color: #2d5380;
  margin-bottom: 15px;
  font-weight: bold;
  grid-area: h2;
}
.container-fluid .p1 {
  grid-area: p1;
  text-align: justify;
  padding: 10px;
}
.container-fluid .img1 {
  grid-area: img1;
  padding: 10px;
}
.container-fluid .img2 {
  grid-area: img2;
  padding: 10px;
}
.container-fluid .p2 {
  grid-area: p2;
  text-align: justify;
  padding: 10px;
}
.container-fluid .p3 {
  grid-area: p3;
  text-align: justify;
  padding: 10px;
}
.container-fluid .img3 {
  grid-area: img3;
  padding: 10px;
}
.container-fluid p {
  color: #037a40;
  font-size: 1.2rem;
}
.container-fluid .img-nos {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 431px) and (max-width: 968px) {
  .container-fluid {
    grid-template-areas: "h2 h2" "p1 img1" "img2 p2" "p3 img3";
  }
  .container-fluid .h2 {
    font-size: 6vw;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .container-fluid {
    grid-template-areas: "h2" "img1" "p1" "img2" "p2" "img3" "p3";
  }
  .container-fluid .h2 {
    font-size: 7vw;
  }
}
* {
  font-family: "nunito", sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "h" "m" "f";
  min-height: 100vh;
}

.imagenes {
  height: 35vw;
}

/*# sourceMappingURL=style.css.map */
